#content {
    margin-top: 100px;
}

.NavBarElement {
    display: inline-flex;
    background-color: lightgray;
    margin: 16px;
    vertical-align: center;
}
#NavBar {
    background-color: red;
}

nav {
    position: fixed;
    width: 100%;
    overflow: hidden;
}