@import "../Common/Common.css";

#SlideshowOuterContainer {
    margin: 0;
    width: 100%;
    aspect-ratio: 16/6;
    /*aspect-ratio: 4/3; */
    position: relative;
}

@keyframes verticalPan {
    from {
        object-position: center top;
    }
    to {
        object-position: center center;
    }
}

.SlideshowImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    object-position: center top;
}

.SlideAnimationInterface {
    animation: verticalPan 10s ease forwards;
    animation-delay: 5s;
}

.ActiveSlide {
    opacity: 100%;
    transition: opacity 5s ease;
}

.InactiveSlide {
    opacity: 0;
    transition: opacity 3s ease-out;
    animation: none;
}

.SlideshowControl {
    position: absolute;
    top: 50%;
    cursor: pointer;
    padding: 8px;
    
    font-size: 250%;
    background-color: rgba(255, 255, 255, 0.5);
    
    transition: 0.4s ease;
}

.SlideshowControl:hover {
    background-color: rgba(255, 255, 255, 0.8);    
    font-size: 270%;
}
#SlideshowNext {
    right: 0;
    border-radius: 4px 0 0 4px;
}
#SlideshowPrev {
    left: 0;
    border-radius: 0 4px 4px 0;
}

.dot {
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin: 0 4px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    outline: #343434 solid 0;
}

.ActiveDot {
    /*outline-width: 2px;*/
    transform: scale(125%);
}

.dot:hover {
    background-color: #717171;
}
#HomePageSlideshowDotContainer{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

