:root{
    --primary-color: #FDF7EE;
    --secondary-color: #ecc6be;
    --tertiary-color: #a5cfbe;
    --quaternary-color: #bde3d3;
}

#Content {
    background-color: var(--primary-color);
    margin:0;
    border: 0;
}
html{
    background-color: var(--primary-color);
    scroll-behavior: smooth;
}

p {
    font-size: x-large;
    font-family: sans-serif;
}

h1 {
    font-size: xxx-large;
}

h2 {
    font-size: xx-large;
}