@import "/styles/Common.css";

footer {
    margin-top: 64px;
    height: 256px;
    width: 100%;
    background-color: var(--secondary-color);
    overflow: hidden;
}

#FooterContentContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);  /* 4 equal columns */
    grid-template-rows: auto 200px 1fr;
    grid-gap: 20px;

    justify-items: center;   /* Center horizontally */
    align-items: start;      /* Align items to the top vertically */

    width: 80%;
    height: 50%;

    justify-self: center;
}

/* Make it responsive for smaller screens */
@media (max-width: 768px) {
    #FooterContentContainer {
        grid-template-columns: repeat(2, 1fr);  /* 2 columns on smaller screens */
        width: 90%;  /* Slightly increase width for mobile */
        height: auto;  /* Adjust height automatically */
    }
}

@media (max-width: 480px) {
    #FooterContentContainer {
        grid-template-columns: 1fr;  /* 1 column on very small screens */
        width: 100%;
        height: auto;  /* Adjust height automatically */
    }
}


#FooterContentContainer p, #FooterContentContainer a {
    font-size: 16px;
    font-family: 'Times New Roman', serif;
}

.SocialIcons {
    width: 32px;
    text-decoration: none;
    margin-right: 8px;
}
#GoToTopDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#BackToTopButton {
    background: none;
    border: none;
    font-weight: bolder;
    transition: opacity 0.5s ease;
}

#BackToTopButton:hover {
    opacity: 0.5;
}