@import "/styles/Common.css";

/*
    SCROLL FADE
*/

.scroll-fade {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.scroll-fade.visible {
    opacity: 1;
    transform: translateY(0);
}

/*
    SLIDESHOW
 */

#SlideshowOuterContainer {
    margin: 0;
    width: 100%;
    aspect-ratio: 16/6;
    /*aspect-ratio: 4/3; */
    position: relative;
}

@keyframes verticalPan {
    from {
        object-position: center top;
    }
    to {
        object-position: center center;
    }
}

.SlideshowImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    object-position: center top;
}

.SlideAnimationInterface {
    animation: verticalPan 10s ease forwards;
    animation-delay: 5s;
}

.ActiveSlide {
    opacity: 100%;
    transition: opacity 5s ease;
}

.InactiveSlide {
    opacity: 0;
    transition: opacity 3s ease-out;
    animation: none;
}

.SlideshowControl {
    position: absolute;
    top: 50%;
    cursor: pointer;
    padding: 8px;
    
    font-size: 250%;
    background-color: rgba(255, 255, 255, 0.5);
    
    transition: 0.4s ease;
}

.SlideshowControl:hover {
    background-color: rgba(255, 255, 255, 0.8);    
    font-size: 270%;
}
#SlideshowNext {
    right: 0;
    border-radius: 6px 0 0 6px;
}
#SlideshowPrevious {
    left: 0;
    border-radius: 0 6px 6px 0;
}

.dot {
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin: 0 4px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    outline: #343434 solid 0;
}

.ActiveDot {
    /*outline-width: 2px;*/
    transform: scale(125%);
}

.dot:hover {
    background-color: #717171;
}

/*
    SLIDESHOW OVERLAY TEXT
 */

#HomePageSlideshowDotContainer{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

#ShortDescriptionCarousel {
    position: absolute;
    top: 15%;
    left: 0;
    width: 45%;
    color: var(--primary-color);
    padding: 3%;
    font-size: xx-large;
    border-radius: 0 6px 6px 0;

    background-color: color-mix(in srgb, var(--secondary-color) 70%, white 0%);
    transition: 0.7s ease;
}

#ShortDescriptionCarousel:hover {
    background-color: color-mix(in srgb, var(--secondary-color) 10%, white 0%);
    opacity: 50%;
}


/*
    LONG DESCRIPTION
 */

#LongDescription {
    width: 70%;
    justify-self: center;
    text-align: justify;
    text-justify: inter-word;
}

#LongDescriptionOuterDiv {
    width: 100%;
    background-color: var(--secondary-color);
    padding-top: 32px;
    padding-bottom: 32px;
}

/* 
    BEACH DESCRIPTION AND IMAGES
*/

#BeachDescriptionOuterDiv {
    margin-top: 64px;
    width: 100%;
    justify-content: center;
    display: inline-flex;
}
#BeachDescriptionContainer {
    width: 28%;
    margin-right: 2%;
}
#BeachImagesContainer {
    margin-left: 2%;
    width: 38%;
    display: grid;
    grid-template-columns: 1fr 1fr; /* two equal-width columns */
    grid-template-rows: 1fr 1fr;    /* two equal-height rows */
    gap: 8px;
    background-color: var(--secondary-color);
    padding: 8px;
}
#BeachImagesContainer img {
    width: 100%;
    transition: transform 0.5s ease;
}
#BeachImagesContainer img:hover {
    transform: scale(1.3);
    z-index: 10;
}