<link rel="stylesheet" href="/Sito-Melona/built/styles/NavBar.css">

    <a href = "Home.html" class = "Logo">
        <img src = "/Sito-Melona/built/assets/images/Logo.png" alt = "Logo" class = "Logo">
    </a>
    
    <span id = "NavbarOuter" style="flex-direction: column;">
        <span id = "LanguageSelectorDiv">
            <label for="LanguageSelector" style = "color: white; font-weight: bold;">Language</label>
            <select name = "lang" id = "LanguageSelector">
                <option value = "it">IT</option>
                <option value = "en">EN</option>
                <option value = "fr">FR</option>
                <option value = "de">DE</option>
            </select>
        </span>
        
        <span id = "NavBar">
            <button class = "NavBarButton" onclick = "location.href='index.html'">
                <span class = "NavBarButtonText">
                    Home
                </span>
            </button>
            <button class = "NavBarButton">
                <span class = "NavBarButtonText">
                    Apartments
                </span>
            </button>
            <button class = "NavBarButton">
                <span class = "NavBarButtonText">
                    What to Do
                </span>
            </button>
            <button class = "NavBarButton">
                <span class = "NavBarButtonText">
                    Contacts
                </span>
            </button>
        </span>
    </span>