<link rel="stylesheet" href="/Sito-Melona/source/styles/Footer.css">

<div id = "FooterContentContainer">
    <a href = "Home.html" class = "Logo">
        <img src = "/Sito-Melona/source/assets/images/Logo.png" alt = "Logo" class = "Logo">
    </a>
    <span>
        <h3>[[who-are-we-title]]</h3>
        <p>
            Az. Agricola Melona<br>
            P.Iva TODO!!!!!!!!!!!!!!!!!
        </p>
    </span>
    <span>
        <h3>[[contacts-footer-title]]</h3>
        <a hreaf = "tel:+39330310519">+39 330 310 519</a><br>
        <a hreaf = "tel:+393319012332">+39 331 901 2332</a><br>
        <a href = "mailto:aziendaagricolamelona@gmail.com">aziendaagricolamelona@gmail.com</a>
    </span>
    <span>
        <h3>[[follow-us-title]]</h3>
        <a href = "https://instagram.com/aziendaagricolamelona/" class = "SocialIcons">
            <img src = "/Sito-Melona/source/assets/images/InstagramLogo.webp" alt = "Instagram" class = "SocialIcons">
        </a>

        <a href = "https://facebook.com/aziendaagricolamelona/" class = "SocialIcons">
            <img src = "/Sito-Melona/source/assets/images/FacebookLogo.png" alt = "Facebook" class = "SocialIcons">
        </a>
    </span>
</div>
<div id = "GoToTopDiv">
    <button id = "BackToTopButton" href = "" style = 'font-family: "Segoe UI Emoji", sans-serif;', onclick = "window.scrollTo({top: 0,behavior: 'smooth'});">
        <p style = "font-size: xx-large; margin: 0;">
            &#8593;
        </p>
        [[go-to-top-button]]
    </button>
</div>