:root{
    --primary-color: #FDF7EE;
    --secondary-color: #EDB6A3;
    --tertiary-color: #72C1A6;
    --quaternary-color: #bde3d3;
}

#Content {
    background-color: var(--primary-color);
    margin:0;
    border: 0;
}
html{
    background-color: var(--primary-color);
}

p {
    font-size: x-large;
}